<!-- <section id="landing" class="row-fluid">
    <div class="container">
      <div id="landing-padding">
        < PlugMan.extensions(:main, :filter_landing).each do |plugin| %>
          <= plugin.filter_landing %>
        < end %>
      </div>
    </div>
</section> -->
<%= partial :'videos/list', :locals =>{:video_links => @video_links} %>
