<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'/>
		<title>.::[Videatra]::.</title>
	</head>
	<body>
		<% if flash[:error] %>
			<p><%= flash[:error]%></p>
		<%end %>
		<% if flash[:notice] %>
			<p><%= flash[:notice]%></p>
		<%end %>
		<%= yield %>
	</body>
</html>
