<div id="user-subnav" class="stripe">
    <div class="container">
      <ul>
        <!-- Should have a PlugMan hook here -->
        <li><a href="/user/profile"><i class="icon-white icon-edit"></i> Profile settings</a></li>
        <li><a href="/user/subscriptions"><i class="icon-white icon-repeat"></i> Subscriptions</a></li>
        <li><a href="/user/account" class="current"><i class="icon-white icon-cog"></i> Account settings</a></li>
      </ul>
    </div>
  </div>
  <div class="row-fluid service">
      <div class="container">
        <h2>Account settings</h2>
        <div class="row-fluid">
          <div class="span7">
            <div class="sheet">
              <div id="edit-profile-form" class="service-form form-light">
                <form accept-charset="UTF-8" action="/user/account/update" class="edit_user" id="edit_user" method="post">
                  <div class="inside-sheet">
                    <div class="form-row">
                      <label for="user_email">Email</label>
                      <input class="input-block-level" id="user_email" name="email" size="30" type="email" value="<%= current_user.email %>" />
                    </div>
                    <div class="form-row">
                      <label for="user_password">New password</label>
                      <input class="input-block-level" id="user_password" name="password" size="30" type="password" />
                    </div>
                    <div class="form-row">
                      <label for="user_password_confirmation">Password confirmation</label>
                      <input class="input-block-level" id="user_password_confirmation" name="password_confirmation" size="30" type="password" />
                    </div>
                    <div class="form-row">
                      <label for="user_current_password">Current password</label>
                      <input class="input-block-level" id="user_current_password" name="current_password" size="30" type="password" />
                    </div>
                    <p>We need you to provide your current password in order to confirm your changes and to insure the security of your account.</p>
                  </div>
                  <div class="form-actions">
                    <input class="btn btn-action" type="submit" value="Save changes" />
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="span5">
            <div class="sheet facebook-account-info">
              <div class="inside-sheet">
                <div class="row-fluid">
                  <!-- PlugMan should be here -->
                  <div class="span4">
                    <div class="user-avatar"><img alt="avatar" src="<%= current_user.profile.avatar.url %>" /></div>
                  </div>
                  <div class="span8">
                    <h3><%= current_user.profile.first_name%>&nbsp<%= current_user.profile.last_name %></h3>
                  </div>
                </div>
              </div>
              <div class="form-actions">
                <div class="row-fluid">
                  <!-- PlugMan should be here -->
                </div>
              </div>
            </div>
            <div class="sheet account-options">
              <div class="inside-sheet">
                <div class="account-options-block delete-account">
                  <p>Even though we would be really sad to see you go, we can't stop you from deleting your account.</p>
                </div>
              </div>
              <div class="form-actions">
                <a href="/user/account/delete" class="btn btn-danger" rel="nofollow">Delete my account</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
