<div id="video_container">
  <h3><%= video.title %></h3>
  <video id="video" class="video-js vjs-default-skin vjs-big-play-centered"
      controls preload="auto" width="640" height="264"

      <% video.video_files.each do |source| %>
        <source src=<%= source.file.url %> type=<%= source.content_type %> />
      <% end %>
  </video>
  <div id="video_additionals_container">
    <div id="video_social">
    </div>

    <div id="video_resources">
    </div>
  </div>
</div>

<script type="text/javascript">
  videojs("video", {}, function(){});
</script>

