<div class="row-fluid service">
    <div class="container">
      <h2 class="large">Create a Videatra account</h2>
      <div class="row-fluid">
        <div class="span7">
          <div id="registration-form" class="service-form form-dark">
            <form accept-charset="UTF-8" action="/signup" class="new_user" id="new_user" method="post">
              <div class="form-row">
                <label class="placeholder-fallback" for="user_email">E-mail address</label>
                <input class="input-block-level" id="user_email" name="email" placeholder="E-mail address" size="30" type="email" required />
              </div>
              <div class="form-row">
                <label class="placeholder-fallback" for="user_password">Password</label>
                <input class="input-block-level" id="user_password" name="password" placeholder="Password" size="30" type="password" required />
              </div>
              <div class="form-row">
                <label class="placeholder-fallback" for="user_password_confirmation">Confirm password</label>
                <input class="input-block-level" id="user_password_confirmation" name="password_confirmation" placeholder="Confirm password" size="30" type="password" required />
              </div>
              <div class="form-row accept-terms">
                <% PlugMan.extensions(:main, :filter_after_signup_form_text).each do |plugin| %>
                  <%= plugin.filter_after_signup_form_text %>
                <% end %>
                <p>By creating an account, you accept our <a href="/terms_of_use">Terms and Conditions</a>.</p>
              </div>
              <div class="form-row">
                <input class="button-with-arrow" name="commit" type="submit" value="Create an account" />
              </div>
            </form>
            <div class="helper-links">
              <% PlugMan.extensions(:main, :filter_signup_helper_links).each do |plugin| %>
                <%= plugin.filter_signup_helper_links %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="span4 offset1">
          <div class="login-account-info">
            <div class="account-description">
              <h3>Have an account?</h3>
              <% PlugMan.extensions(:main, :filter_signup_description).each do |plugin| %>
                <%= plugin.filter_signup_description %>
              <% end %>
            </div>
            <% PlugMan.extensions(:main, :filter_signup_aside).each do |plugin| %>
              <%= plugin.filter_signup_aside %>
            <% end %>
            <a href="/sign_in" class="account-link">Log in with your <br/>Videatra account</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Probably not the best way to accomplish
my goals, but it's late and...well what could go wrong...right? -->
<script type="text/javascript">
  $("body").addClass("dark-background");
</script>
